@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

/* ********** GENERAL STYLES ********** */

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fafafa;
}

.container {
  width: 100%;
  max-width: auto;
  margin-right: auto;
  margin-left: auto;
}

/* ********** TOPNAV ********** */

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #fff;
  padding: 8px 16px;
  border-bottom: 1px solid #e1e1e1;
}

.topnav__logo {
  width: 40%;
}

.topnav__link {
  color: #000;
  text-decoration: none;
}

/* ********** STORIES ********** */

.stories {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 20px 16px;
}

.stories__link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2px;
  border-radius: 100%;
}

.stories__link:not(:last-child) {
  margin-right: 15px;
}

.stories__link--notviewed {
  background: linear-gradient(
    45deg,
    rgba(245, 160, 77, 1) 0%,
    rgba(160, 15, 139, 1) 100%
  );
}

.stories__profile {
  border-radius: 100%;
  width: 100%;
  max-width: 70px;
  padding: 2px;
  background-color: #fff;
}
