@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

/* ********** GENERAL STYLES ********** */

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  background-color: #fafafa;
}

.container {
  width: 100%;
  max-width: none;
  margin-right: auto;
  margin-left: auto;
}

/* ********** TOPNAV ********** */

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #fff;
  padding: 8px 16px;
  border-bottom: 1px solid #e1e1e1;
}

.topnav__logo {
  width: 40%;
}

.topnav__link {
  color: #000;
  text-decoration: none;
}

/* ********** STORIES ********** */

.stories {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 20px 16px;
}

.stories__link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2px;
  border-radius: 100%;
  text-decoration: none;
}

.stories__link:not(:last-child) {
  margin-right: 15px;
}

.stories__link--notviewed {
  background: linear-gradient(
    45deg,
    rgba(245, 160, 77, 1) 0%,
    rgba(160, 15, 139, 1) 100%
  );
}

.stories__profile {
  /* Responsive Image */
  width: 100%;
  max-width: 70px;
  height: auto;

  /* Rounded Image */
  border-radius: 50%;

  padding: 2px;
  background-color: #fff;
}

/* ********** POST ********** */

.post {
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  background-color: #fff;
  margin: 20px 16px;
}

.post__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.post__link {
  color: #000;
  text-decoration: none;
}

.post__link--bold {
  font-weight: bold;
}

.post__link--mr {
  margin-right: 20px;
}

.post__profile {
  /* Responsive Image */
  width: 100%;
  max-width: 40px;
  height: auto;

  /* Rounded Image */
  border-radius: 50%;

  vertical-align: middle;
  margin-right: 5px;
}

.post__profile--smaller {
  max-width: 30px;
}

.post__image {
  /* Responsive Image */
  width: 100%;
  height: auto;
}

.post__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 4px 8px;
  font-size: 25px;
}

.post__footer {
  padding: 8px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f2f2f2;
}
